$bg: #ededed;
$bg-form: #fff;
$border: #e6e9ec;
$muted: #555;
$border-checkbox: #999;
$primary: #06874e;
$secondary: #212529;
$error: #f00;
$errorShadow: rgba(255, 0, 0, 0.5);

$tablet: "screen and (min-width: 40rem)";